html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

$MainColor: #909090;
$SecondColor: #751aff;
$ThirdColor: #e6e6e6;
$TextColor:#0d0d0d;
$TextCenter: center;

$MarginBig: 35px;
$MarginExtraLarge: 30px;
$MarginLarge: 25px;
$MarginMedium: 20px;
$MarginSmall: 15px;
$MarginsmallSmall: 10px;
$MarginSuperSmall: 5px;
$MarginNull: 0px;

$FontSmall: 12px;
$FontMedium: 14px;
$FontBig: 16px;

@mixin DisplayFlex() {
    display:flex;
    flex-direction: column;
}

@mixin Flex ($FlexGrow: 1,$FlexShrink: 1,$FlexBasis: 100%) {
    flex-grow: $FlexGrow;
    flex-shrink: $FlexShrink;
    flex-basis: $FlexBasis;
}

@mixin Grid() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
	row-gap: 20px;
}

@mixin Border($BorderWidth: 1px, $BorderStyle: solid, $BorderColor: $MainColor) {
	border-width: $BorderWidth;
	border-style: $BorderStyle;
	border-color: $BorderColor;
}


body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: $FontMedium;
	line-height: 1.5;
}

.main-block {
    @include DisplayFlex();
    @include Border(0.5px);
	/* obsah stránky je omezený do pruhu širokého 960px */
	max-width: 960px;
	/*pruh je na stránce vycentrovaný*/ 
	margin: 0 auto; 
	background: white;
	box-shadow: 0 0 20px $MainColor;
}

.main-block__details {
    @include DisplayFlex();
    @include Flex();
	padding-right: 35px;
}

.header-block {
	@include DisplayFlex();
    @include Flex();
	min-height: 400px;
    background-image: url(images/background2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-around;
	font-size: $FontBig;
	padding-bottom: 40px;
}

.header-block__prvek {
	color:	$MainColor;
	@include Flex();
}

.header-block__prvek--pozdrav {
	color: $SecondColor;
	font-weight: 600;
	margin-top: $MarginSmall;
}

.header-block__prvek--martina {
	text-shadow: 1px 1px $SecondColor;
	margin-top: $MarginNull;
}

.main-block__details {
    @include Flex();
	padding: {
		left: 45px;
		bottom: 20px;
		top: 20px; 
	}
}

.button_block {
    @include DisplayFlex();
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: $MarginMedium;
}

.button-block__prvek {
	@include Flex();
	@include Border;
	min-width: 100px;
	text-align: $TextCenter;
	text-decoration: none;
	color: lightgrey;
	border-radius: 5px;
	padding: 10px;
	margin-right: $MarginLarge;
	margin-bottom: $MarginLarge;
	font-size: $FontSmall;
	
	&:hover {
		background-color: $MainColor;
		color:#181818;
	}
}

.button-block__prvek--about:hover {
	background-color: #828282;
}

.skills-block__prvek--malasipka, .sipka {
	display:none;
}

.about-block, .courses-block {
	@include DisplayFlex();
	background-color:#d9d9d9;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.about-block__prvek {
	@include Flex();
	margin: {
		left: $MarginSuperSmall;
		right: $MarginExtraLarge; 
	}

	&--navigace {
		margin: {
			left: $MarginNull;
			right: $MarginNull;
			bottom: $MarginSmall; 
		}
	}
}
 
.me-block {
	@include DisplayFlex();
    @include Flex();
	padding-left: 10px;
}

.me-block__prvek--text {
	margin-left: $MarginBig;
	color: $TextColor;
	text-align: $TextCenter;
}

.me-block__prvek--nadpis {
	text-align: $TextCenter;
	color: $SecondColor;
}

.follow-block {
	@include DisplayFlex();
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	&__prvek {
		padding: 10px;
		margin: {
			left: $MarginMedium;
			right: $MarginMedium; 
		}
	}
}

.follow-block__prvek, .follow-block1__prvek {
	@include Border;
	min-width: 100px;
	text-align: $TextCenter;
	text-decoration: none;
	color: $SecondColor;
	border-radius: 5px;
	padding: 10px;
	margin-right: $MarginLarge;
	margin-bottom: $MarginNull;
	font-size: $FontSmall;
	transition: all 0.7s ease-in-out; 
	
	
	&:hover {
		background-color: $SecondColor;
		color: #ffffff;
		transform: scale(1.2);
		opacity: 0.7;
	}
}

.picture-block {
	@include DisplayFlex();
	//flex-direction: row;
	justify-content: center;

	&__me {
		max-height:400px;
		max-width: 300px;
		margin: {
			top: $MarginNull;
			bottom: $MarginNull;
		}
	}
}

.courses-block {
	padding-left: 35px;
	background-color: #f2f2f2;

	&__prvek {
		margin:0 10px 20px 10px;
		@include Border();
		border-radius: 5px;
		margin-right: $MarginBig;
		color: 	$MainColor;
	}
}
	
.courses-block__prvek--nadpis, .courses-block__prvek--paragraph {
	text-align: $TextCenter;
	border: none;
	margin: $MarginsmallSmall;
	color: 	$SecondColor;
}

.czechitas-block {
	@include DisplayFlex();
	align-items: center;
}

.courses-block__prvek--kurz1, .courses-block__prvek--kurz2, .courses-block__prvek--kurz3, .courses-block__prvek--kurz4{
	padding: 15px;
}

.czechitas-block__prvek, .work-block__prvek {
	text-align: $TextCenter;
}

#scrum, #developer, #analytics, #code, #hey { 
	transition: all .5s ease-in-out; 
}

#scrum:hover, #developer:hover, #analytics:hover, #code:hover, #hey:hover {
	transform: scale(1.12);
}

.work-block, .work1-block {
	background-color: $ThirdColor;

	&__prvek {
		text-align: $TextCenter;
		color: $MainColor;
	}
}

.career-block__prvek--nadpis, .skills-block__prvek--nadpis, .czechitas-block__prvek--podnadpis {
	color:$SecondColor;
}

.skills-block__prvek--nadpis {
	margin-top:$MarginNull;
	margin-bottom: $MarginNull;
} 

.footer-block { 
	@include DisplayFlex();
	background-color:  #bfbfbf;
	color:	$MainColor;
	max-height: 90px;
	justify-content: space-around;
	align-items: center;
	font-size: $FontSmall;

	&__prvek {
		margin: $MarginSuperSmall;
		color: 	$SecondColor;
		text-decoration: none;
	}
}


.footer-block__prvek--mail:hover {
	color:	$TextColor;
}

@media(min-width:600px) {
	body {
		font-size: $FontBig;
	}

	.sipka {
		display:block ;
		margin-top:$MarginSmall;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s linear infinite;
	}
	  
	@keyframes dash {
		to {
		  stroke-dashoffset: 0;
		}
	}

	.button-block__prvek {
		font-size: $FontMedium;
	}

	.about-block {
		@include Grid();
		grid-template-rows: minmax(100px,auto);
		grid-template-areas: "me picture"
							 "follow follow";
	}
			
	.picture-block {
		padding: { 
			top: 35px;
			bottom: 0;
		}
		align-items: center;
		grid-area: picture;

		&__me {
			padding-top: 50px;
		}
	}

	.me-block {
		padding: {
			top: 35px;
			bottom: 0;
		}

		grid-area: me;
	}

	.me-block__prvek--text {
		color: $TextColor;
		padding: {
			left: 15px;
			right: 15px; 
		}
	}

	.me-block__prvek--nadpis {
		color:	$MainColor;	
		text-align: $TextCenter;
	} 
	
	.follow-block {
		grid-area: follow;
	}

	.follow-block__prvek, .follow-block1__prvek {
		font-size: $FontMedium;
	}

	.courses-block {
		color: $MainColor;
		@include Grid();
		grid-template-rows: minmax(70px, auto);
		grid-template-areas:
							 "nadpis nadpis"
							 "kurz1 kurz2"
							 "kurz3 kurz4";
		place-content: center;
	}

	.courses-block__prvek {
		margin-bottom: $MarginExtraLarge;

		&--kurz1 {
			grid-area: kurz1 ;
		}

		&--kurz2 {
			grid-area: kurz2 ;
		}

		&--kurz3 {
			grid-area: kurz3 ;
		}
		
		&--kurz4 {
			grid-area: kurz4 ;
		}
	}

	.courses-block__prvek--nadpis {
		grid-area: nadpis;
		align-self: center;
		color: $SecondColor;
		margin: $MarginNull;
	}

	.courses-block__prvek--kurz1, .courses-block__prvek--kurz2, .courses-block__prvek--kurz3, .courses-block__prvek--kurz4{
		place-items: center;
	}
	
	.czechitas-block__prvek--podnadpis {
		color: $SecondColor;
		margin:$MarginNull;
	}

	.work-block {
		flex-direction: row;
		flex-wrap: wrap;

		&__prvek { 
			@include Flex(1, 1, 45%);
			color: $MainColor;
		}
	}

	
	.career-block__prvek--nadpis, .skills-block__prvek--nadpis {
		color: $SecondColor;
	}

	.skills-block__prvek--malasipka {
		//position: absolute;
		//top:30px;
		//left:475px;
		display:inline-block;
		margin-top: $MarginNull;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 10s linear infinite;
	}
	  
	@keyframes dash {
		to {
		  stroke-dashoffset: 0;
		}
	}

	.footer-block {
		flex-direction: row;
		
		&__prvek { 
			font-size: $FontSmall; 
		}
		
	}

	.follow-block1__prvek {
		margin: {
			left: $MarginsmallSmall;
			right: $MarginsmallSmall;
		}
	}

	.main-block__details--paticka {
		padding: {
			bottom: 15px;
			top: 15px; 
		}
	}
}

@media(min-width:800px){
	.footer-block__prvek, .button-block__prvek {
		font-size: $FontBig;
		
	}
}

